apiVersion: v1
kind: Service
metadata:
  name: kafka-service
  namespace: metacoding
spec:
  selector:
    app: kafka
  ports:
    - port: 9092
      targetPort: 9092
      name: broker
    - port: 9093
      targetPort: 9093
      name: controller

