apiVersion: apps/v1
kind: Deployment
metadata:
  name: delivery-deploy
  namespace: metacoding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: delivery
  template:
    metadata:
      labels:
        app: delivery
    spec:
      containers:
        - name: delivery-server
          image: metacoding/delivery:1
          ports:
            - containerPort: 8084
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
          envFrom:
            - configMapRef:
                name: delivery-configmap
            - secretRef:
                name: delivery-secret