apiVersion: apps/v1
kind: Deployment
metadata:
  name: orchestrator-deploy
  namespace: metacoding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orchestrator
  template:
    metadata:
      labels:
        app: orchestrator
    spec:
      containers:
        - name: orchestrator-server
          image: metacoding/orchestrator:1
          ports:
            - containerPort: 8085
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
          envFrom:
            - configMapRef:
                name: orchestrator-configmap

