apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-deploy
  namespace: metacoding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product
  template:
    metadata:
      labels:
        app: product
    spec:
      containers:
        - name: product-server
          image: metacoding/product:1
          ports:
            - containerPort: 8082
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
          envFrom:
            - configMapRef:
                name: product-configmap
            - secretRef:
                name: product-secret